<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AssetTrackingEntities" connectionString="metadata=res://*/Models.AssetTracking.csdl|res://*/Models.AssetTracking.ssdl|res://*/Models.AssetTracking.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.10.221;initial catalog=AssetTracking;user id=sa;password=password@1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>