Thumbs.db
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.xap
*.g.cs
[Publish
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
AssetTracking.Web/App_Data/ASPNETDB.MDF
AssetTracking.Web/App_Data/ASPNETDB.MDF
Generated_Code/

*log*.*
AssetTracking.Web/logs/*.*
MiddlewareClients/ClientConfigurator/packages/*
Build_scripts/Middleware/build-middleware/setup/MiddlewareSetup/Generated_msi



