<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="BridgestoneSimulator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <BridgestoneSimulator.Properties.Settings>
            <setting name="WorkstationName" serializeAs="String">
                <value>6c</value>
            </setting>
            <setting name="StationTable" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>6c,a94b8ce0-a6d9-4eb3-8b7c-bce4b6dc4a62,0</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="RackTable" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>222911100D22040314000176,0D22040314000176</string>
                        <string>222931100D22040314000212,0D22040314000212</string>
                        <string>222931100D22040314000219,0D22040314000219</string>
                        <string>222931100D22040314000206,0D22040314000206</string>
                        <string>222911100D22040314000175,0D22040314000175</string>
                        <string>222931100D22040314000230,0D22040314000230</string>
                        <string>222931100D22040314000210,0D22040314000210</string>
                        <string>222911100D22040314000152,0D22040314000152</string>
                        <string>222911100D22040314000153,0D22040314000153</string>
                        <string>222911100D22040314000154,0D22040314000154</string>
                        <string>222911100D22040314000155,0D22040314000155</string>
                        <string>222911100D22040314000156,0D22040314000156</string>
                        <string>222931100D22040314000589,0D22040314000589</string>
                        <string>222911100D22040314000173,0D22040314000173</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="CALCManAddress" serializeAs="String">
                <value>localhost:3000</value>
            </setting>
            <setting name="ImageGenAddress" serializeAs="String">
                <value>localhost:30525</value>
            </setting>
            <setting name="RFIDReaderAddress" serializeAs="String">
                <value>localhost:4000</value>
            </setting>
        </BridgestoneSimulator.Properties.Settings>
    </userSettings>
</configuration>
