<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="ConfigDatabaseEntities" connectionString="metadata=res://*/ConfigDatabaseModel.csdl|res://*/ConfigDatabaseModel.ssdl|res://*/ConfigDatabaseModel.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=C:\Workshop\February2013\ConfigDatabaseLib\ConfigDatabase.s3db&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>