
<!--
ccnet_Middleware.config

Build Middleware and it's installers. Currently for NIGHTLY buidls.

Takes about 7 minutes to check for modifications.

-->

<project>
	<name>Middleware</name>
	<description>Build Middleware binaries and installer</description>
	
    <state type="state" directory="C:\builds\CCNet\State" />	

    <artifactDirectory>C:\builds\CCNet\BuildArtifacts</artifactDirectory>
	
	<triggers>
      <scheduleTrigger time="03:30" buildCondition="ForceBuild" name="Scheduled"/>      
    </triggers>
	
	<!--
	Deletes entire contents for c:\builds\source before source control get.	
	As we add more builds to build server, make sure this is the right thing to do.
	
	This seems to happen before build which contradicts with information online.
	
	Should not be necessary because a "git clean -f -d -x" will be done for the git source
	control block to get a clean copy.
	
	<prebuild>
	
		<exec>
			<executable>cmd.exe</executable>
			<buildArgs>/c "if exist "C:\builds\source" rd /s /q "C:\builds\source" else echo source folder does not exist."</buildArgs>
		</exec>
	
		<exec>
			<executable>cmd.exe</executable>
			<buildArgs>/c "mkdir "C:\builds\source""</buildArgs>
		</exec>		
	</prebuild>	
	-->
	
	
	<sourcecontrol type="multi">
		<sourceControls>	
			<!-- Middleware build scripts are no longer in the build-asset-track-server repo.
			<git>
				<repository>git@github.com:omni-id/Build-asset-track-server.git</repository>
				<branch>master</branch>
				<autoGetSource>true</autoGetSource>
				<fetchSubmodules>true</fetchSubmodules>
				<executable>C:\Program Files (x86)\Git\cmd\git.exe</executable>
				<tagOnSuccess>false</tagOnSuccess>
				<commitBuildModifications>false</commitBuildModifications>
				<commitUntrackedFiles>false</commitUntrackedFiles>	
				<timeout units="minutes">60</timeout>
				<workingDirectory>C:\builds\source\Build-asset-track-server</workingDirectory>				
			</git>		
			-->
			<git>
				<repository>git@github.com:omni-id/asset-track-server.git</repository>
				<branch>master</branch>
				<autoGetSource>true</autoGetSource>
				<fetchSubmodules>true</fetchSubmodules>
				<executable>C:\Program Files (x86)\Git\cmd\git.exe</executable>
				<tagOnSuccess>false</tagOnSuccess>
				<commitBuildModifications>false</commitBuildModifications>
				<commitUntrackedFiles>false</commitUntrackedFiles>	
				<timeout units="minutes">10</timeout>
				<workingDirectory>C:\builds\source\asset-track-server</workingDirectory>				
			</git>			
		
			<git>
				<repository>git@github.com:omni-id/CommonLib.git</repository>
				<branch>master</branch>
				<autoGetSource>true</autoGetSource>
				<fetchSubmodules>true</fetchSubmodules>
				<executable>C:\Program Files (x86)\Git\cmd\git.exe</executable>
				<tagOnSuccess>false</tagOnSuccess>
				<commitBuildModifications>false</commitBuildModifications>
				<commitUntrackedFiles>false</commitUntrackedFiles>	
				<timeout units="minutes">10</timeout>
				<workingDirectory>C:\builds\source\CommonLib</workingDirectory>				
			</git>	

			<git>
				<repository>git@github.com:omni-id/ImageGen.git</repository>
				<branch>master</branch>
				<autoGetSource>true</autoGetSource>
				<fetchSubmodules>true</fetchSubmodules>
				<executable>C:\Program Files (x86)\Git\cmd\git.exe</executable>
				<tagOnSuccess>false</tagOnSuccess>
				<commitBuildModifications>false</commitBuildModifications>
				<commitUntrackedFiles>false</commitUntrackedFiles>	
				<timeout units="minutes">10</timeout>
				<workingDirectory>C:\builds\source\ImageGen</workingDirectory>				
			</git>

			<git>
				<repository>git@github.com:omni-id/Common-Event.git</repository>
				<branch>master</branch>
				<autoGetSource>true</autoGetSource>
				<fetchSubmodules>true</fetchSubmodules>
				<executable>C:\Program Files (x86)\Git\cmd\git.exe</executable>
				<tagOnSuccess>false</tagOnSuccess>
				<commitBuildModifications>false</commitBuildModifications>
				<commitUntrackedFiles>false</commitUntrackedFiles>	
				<timeout units="minutes">10</timeout>
				<workingDirectory>C:\builds\source\Common-Event</workingDirectory>				
			</git>			
			
			<git>
				<repository>git@github.com:omni-id/CAM-Server.git</repository>
				<branch>master</branch>
				<autoGetSource>true</autoGetSource>
				<fetchSubmodules>true</fetchSubmodules>
				<executable>C:\Program Files (x86)\Git\cmd\git.exe</executable>
				<tagOnSuccess>false</tagOnSuccess>
				<commitBuildModifications>false</commitBuildModifications>
				<commitUntrackedFiles>false</commitUntrackedFiles>	
				<timeout units="minutes">10</timeout>
				<workingDirectory>C:\builds\source\CAM-Server</workingDirectory>				
			</git>						
			
			<git>
				<repository>git@github.com:omni-id/cool-tools.git</repository>
				<branch>master</branch>
				<autoGetSource>true</autoGetSource>
				<fetchSubmodules>true</fetchSubmodules>
				<executable>C:\Program Files (x86)\Git\cmd\git.exe</executable>
				<tagOnSuccess>false</tagOnSuccess>
				<commitBuildModifications>false</commitBuildModifications>
				<commitUntrackedFiles>false</commitUntrackedFiles>	
				<timeout units="minutes">10</timeout>
				<workingDirectory>C:\builds\source\cool-tools</workingDirectory>				
			</git>				
			
		</sourceControls>
	</sourcecontrol>
	
	

	<tasks>
	
	
		<msbuild>
			<executable>c:\windows\Microsoft.NET\Framework\v4.0.30319\msbuild.exe</executable>
			<workingDirectory>C:\builds\source\ImageGen\Build_scripts\Middleware\build-middleware</workingDirectory>
			<projectFile>buildMiddleware.proj</projectFile>
			<timeout>1200</timeout> <!-- 1200 = 20 minutes -->		
			<environment>
				<variable name="MSBuildPath" value="&quot;c:\windows\Microsoft.NET\Framework\v4.0.30319&quot;" />
				<variable name="sourceRoot" value="C:\builds\source" />
				<variable name="taskDllFolder" value="C:\builds\source\ImageGen\Build_scripts\dlls\" />
				<variable name="generated_msi_folder" value="C:\builds\source\ImageGen\Build_scripts\Middleware\build-middleware\setup\MiddlewareSetup\Generated_msi" />
				<variable name="devenv10Path" value="&quot;C:\Program Files (x86)\Microsoft Visual Studio 10.0\Common7\IDE\&quot;" />
				<variable name="Configuration" value="Debug" />
				<variable name="version" value="$[version]" />
			</environment>
		</msbuild>
	</tasks>

	<parameters>
		<textParameter>
			<name>version</name>
			<display>Version number.</display>
			<description>Enter a version number. Use 0.0.0.0 for a 'non-versioned' build.</description>
			<default>0.0.0.0</default>
			<required>true</required>
		</textParameter>
	</parameters>

    <publishers>
      <xmllogger logDir="C:\builds\CCNet\Logs\Middleware"/>
      <artifactcleanup cleanUpMethod="KeepLastXBuilds"
                       cleanUpValue="5" />
    </publishers>	
	
</project>